@font-face {
  font-family: "AzoSansBold";
  src: url("./../../dist/fonts/AzoSans-BoldWeb.eot");
}

@font-face {
  font-family: "AzoSansBold";
  src: url("./../../dist/fonts/AzoSans-BoldWeb.woff");
}

@font-face {
  font-family: "AzoSansRegular";
  src: url("./../../dist/fonts/AzoSans-RegularWeb.woff") format("woff");
}

@font-face {
  font-family: "AzoSansRegular";
  src: url("./../../dist/fonts/AzoSans-RegularWeb.eot");
}

@font-face {
  font-family: "AzoSansMedium";
  src: url("./../../dist/fonts/AzoSans-MediumWeb.eot");
}

@font-face {
  font-family: "AzoSansMedium";
  src: url("./../../dist/fonts/AzoSans-MediumWeb.woff");
}