@font-face {
  font-family: "AzoSansBold";
  src: url("./../../dist/fonts/AzoSans-BoldWeb.eot");
  src: url("./../../dist/fonts/AzoSans-BoldWeb.woff") format("woff");
}

@font-face {
  font-family: "AzoSansRegular";
  src: url("./../../dist/fonts/AzoSans-RegularWeb.eot");
  src: url("./../../dist/fonts/AzoSans-RegularWeb.woff") format("woff");
}

@font-face {
  font-family: "AzoSansMedium";
  src: url("./../../dist/fonts/AzoSans-MediumWeb.eot");
  src: url("./../../dist/fonts/AzoSans-MediumWeb.woff") format("woff");
}

@font-face {
  font-family: "AzoSansLight";
  src: url("./../../dist/fonts/AzoSans-LightWeb.eot");
  src: url("./../../dist/fonts/AzoSans-LightWeb.woff") format("woff");
}