@media screen and (min-width: 320px) {

  .background-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("./../../dist/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    z-index: -1;
  }

  .video-background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }

  .video-background.video-background-hidden {
    opacity: 0;
  }

  main {
    padding-top: 90px;
  }

  ul {
    list-style-type: none;
  }

  section {
    margin-bottom: 150px;

    * {
      transition: transform, opacity, width, height, margin;
      transition-duration: 1.5s;
      transition-timing-function: cubic-bezier(.445,.050,.55,.95);
    }

    h2 {
      margin-bottom: 70px;
      text-align: center;
    }


    .thumbnail {

      max-width: 768px;
      margin-left: auto;
      margin-right: auto;

      h3 {
        margin-left: -15px;
        margin-right: -15px;
        text-align: center;        
      }

      p {
        font-family: AzoSansLight;
        font-size: 15px;
        text-align: center;
      }

      img {
        width: 100px;
        height: 100px;
      }

    }

  }

  a.thumbnail:hover {
    border: none;
  }

}

@media screen and (min-width: 768px) {

  .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./../../dist/images/universe-full.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: inset 0 0 115px 88px rgba(0,0,0,.6);
  }

  section {
    margin-bottom: 0;

    h2 {
      font-size: 40px;
    }

    .thumbnail {
      p {
        font-size: 16px;
      }
    }

  }

  .section[data-anchor="contact"] {
    box-shadow: 150px 0 #000, -150px 0 #000;
  }

  .bottom-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70vh;
    background-color: olive;
  }

  #fp-nav ul li, .fp-slidesNav ul li {
    margin: 10px;
    padding: 10px;
  }

  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background-color: #fff200;
  }

  #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
  }

  #fp-nav ul li:hover a span {
    width: 17px;
    height: 17px;
    margin: -8px 0 0 -8px;
  }

  #fp-nav.right {
    opacity: .14;

    &:hover {
      opacity: 1;
    }
  }

  #fp-nav ul li .fp-tooltip {
    top: 1px;
    font-family: AzoSansLight;
  }

  #fp-nav ul li .fp-tooltip.right {
    right: 25px;
  }

}

