.wrapper {
  background: #000;
}

main {
  margin-top: 103px;
  background-image: url("./../../dist/images/background.jpg");
  background-size: 1440px 500px;
  background-repeat: no-repeat;  
  background-position: center 58px;
  background-attachment: fixed; 
}