@media screen and (min-width: 320px) {

  section.contact {
    position: relative;    

    h2 {
      margin-bottom: 0;
    }

    .nav-tabs {

      border-bottom: none;

      li {
        margin: 15px 0;
        float: none;

        &.active a {
          color: #fff200;
          background: transparent;
          border: none;
        }
      }

      a {
        padding: 0;
        border: 0;
        background: transparent;
        font-family: AzoSansBold;
        font-size: 15px;
        color: #fff;

        &:hover {
          color: #fff200;
        }
      }

    }

    .cities {
      position: relative;

      .city {
        z-index: 11;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -4px;
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: #fff200;
        }        
      }

      .cities__new-york {
        position: absolute;
      }

      .cities__london {
        position: absolute;
      }

      .cities__zurich {
        position: absolute;
      }

      .cities__kiev {
        position: absolute;
      }

      .cities__timisoara {
        position: absolute;
      }
    }

    .tab-content {

      h5 {
        font-family: AzoSansRegular;
        font-size: 15px;
        color: #fff200;
      }

      p {
        font-family: AzoSansLight;
        font-family: 15px;
        color: #fff;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }

    }

    footer {

      max-width: 660px;
      margin-left: auto;
      margin-right: auto;

      padding: 15px 10px;

      h6 {
        margin-top: 3px;
        text-align: center;
        font-family: AzoSansMedium;
        font-size: 11px;
      }

      .row {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 10px 0;

        & > .col-xs-12:last-child {
          .col-xs-3 {
            padding: 0;
          }
        }

      }

      .thumbnail {
        margin-bottom: 0;
        border: none;

        img {
          width: 36px;
          height: 36px;
        }

      }

    }

  }

}

@media screen and (min-width: 768px) {

  section.contact {

    footer {
      .row {
        border-top: none;
      }
    }

    .map {
      position: relative;
      min-width: 665px;
      max-width: 100%;
      height: auto;
      z-index: 10;
    }

    // .cities:before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 1440px;
    //     height: 500px;
    //     background: #000;
    //   }

    .row .col-sm-6 {
      padding: 0;
    }

    .row .col-sm-6 {

      div {
        padding: 0;        
      }

      img {
        width: 50px;
        height: 50px;
      }

    }

    footer {
      h6 {
        font-family: AzoSansLight;
        font-size: 15px;
      }
    }

  }

}

@media screen and (min-width:768px) and (max-width: 991px) {

  section.contact {

    .cities {

      h3 {
        font-size: 15px;
      }

      .cities__new-york {
        top: 150px;
        left: 198px;
      }

      .cities__london {
        top: 124px;
        left: 317px;
      }

      .cities__zurich {
        top: 141px;
        left: 338px;

        &:before {
          margin-left: 0;
          bottom: 14px;
          right: -11px;
        }
      }

      .cities__kiev {
        top: 0;
        left: 0;
      }

      .cities__timisoara {
        top: 0;
        left: 0;
      }
    }

  }

}