@media screen and (min-width: 320px) {
  section.vi-in-numbers {

    h2 {
      margin-bottom: 45px;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    .thumbnail {

      img {
        width: 96px;
        height: auto;
      }

      p {
        font-family: AzoSansLight;
        font-size: 15px;
        text-align: center;
      }

      .caption {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
      }

    }

  }
}