@media screen and (min-width: 320px) {
  section.vi {

    p {
      max-width: 540px;
      margin-left: auto;
      margin-right: auto;
      font-family: AzoSansLight;
      font-size: 15px;
      line-height: 22.5px;
      color: #fff;

        span {
          color: #fff200;
        }

    }

  }
}

@media screen and (min-width: 768px) {

  section.vi {

    p {
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 22px;
    }

  }

}