@media screen and (min-width: 320px) {

  section.team {

    .thumbnail {
      h4 {
        font-family: AzoSansLight;
        font-size: 12px;
        color: #fff200;
        text-align: center;
      }
      
      img {
        width: 75px;
        height: auto;
      }
    }

    .thumbnail-main {

      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 70px;

      h3 {
        color: #fff200;
      }

      p {
        margin-right: -15px;
        color: #fff;
      }

      .thumbnail-main__icon {
        width: 150px;
        height: 150px;
        float: left;
        margin-left: -10px;
      }

      .thumbnail-main____links {
        margin-right: -20px;
        text-align: center;

        img {
          display: inline-block;
          width: 30px;
          height: auto;

          &:first-child {
            margin-right: 6px;
          }
        }

      }

    }

    .team__small-icons {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

  }

}

@media screen and (min-width: 768px) {

  section.team {

    .meet-the-team {
      width: 500px;
      height: 550px;
      position: relative;
    }

    .intro {
      margin-top: 100px;
    }

    .meet-the-team .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 170px;
      margin: -85px 0 0 -50px;
      cursor: pointer;
    }
    .meet-the-team * {
      transform: scale(1);
      opacity: 1;
    }

    h2 {
      position: relative;
      z-index: 100;
    }

    .meet-the-team .wheel-item-image {
      width: 100px;
      height: 100px;
      margin: auto;
      background: center center/100% 100%;
      border-radius: 50%;
      position: relative;
    }

    .meet-the-team .active.circle {
      width: 300px;
      height: 300px;
      margin: -180px 0 0 -150px;
      cursor: default;
    }

    .meet-the-team .active .wheel-item-image {
      width: 300px;
      height: 300px;
    }

    .meet-the-team .inner {
      margin-top: 10px;
      max-height: 20px;
      overflow: hidden;
    }
    .meet-the-team .active .inner {
      max-height: 100px;
    }
    .meet-the-team .inner p,
    .meet-the-team .inner h2 {
      margin: 0;
    }
    .meet-the-team .inner .function {
      font-size: 1.5rem;
      color: #fff200;
    }

    .meet-the-team .inner h2 {
      font-size: 2.1rem;
      color: #fff200;
      font-family: AzoSansBold;
      font-weight: normal;
    }
    .meet-the-team .inner p.description {
      font-size: 1.7rem;
      margin: 4px 0 11px;
    }
    .meet-the-team .active .inner .function {
      display: none;
    }
    .meet-the-team .links,
    .meet-the-team .description,
    .meet-the-team .inner h2 {
      opacity: 0;
      transform: scale(1);
    }

    .meet-the-team .active .links,
    .meet-the-team .active .description,
    .meet-the-team .active .inner h2 {
      opacity: 1;
      transition-delay: 1500ms;
      transition-duration: 300ms;
    }
    .meet-the-team .links a {
      display: inline-block;
      width: 30px;
      height: 30px;
      overflow: hidden;
      text-indent: -300px;
      margin-left: 15px;
    }

    .meet-the-team .links .mail {
      background: url(./../../dist/images/team/team-mail.png) 50% 50%/30px 21px no-repeat;

    }
    .meet-the-team .links .linkedin {
      background: url(./../../dist/images/team/vi_team_linkedin.svg) 0 0/100% 100% no-repeat;
      margin-left: 0;
    }

    .wheel-item-image span {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 300ms linear;
    }

    .wheel-item-image .normal,
    .wheel-item-image.hover .hover,
    .active .wheel-item-image .active-normal,
    .active .wheel-item-image.hover .active-hover {
      opacity: 1;
    }
    .wheel-item-image.hover .normal,
    .active .wheel-item-image .normal,
    .active .wheel-item-image.hover .hover,
    .active .wheel-item-image.hover .active-normal {
      opacity: 0;
    }

    /* KAI */

    .kai .hover {
      background-image: url(./../../dist/images/team/vi_icon_Kai/PNG_200px/vi_icon_kai_prof_200px_RGB_M.png);
    }

    .kai .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_Kai/PNG_600px/vi_icon_kai_port1_600px_RGB_L.png);
    }

    .kai .normal {
      background-image: url(./../../dist/images/team/vi_icon_Kai/PNG_200px/vi_icon_kai_illu_200px_RGB_S.png);
    }

    .kai .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_Kai/PNG_600px/vi_icon_kai_port1_600px_RGB_L.png);
    }

    /* JOERG */

    .joerg .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_Joerg/PNG_200px/vi_icon_joerg_prof_200px_RGB_M.png);
    }

    .joerg .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_Joerg/PNG_600px/vi_icon_joerg_port2_600px_RGB_L.png);
    }

    .joerg .normal {
      background-image: url(./../../dist/images/team/vi_icon_Joerg/PNG_200px/vi_icon_joerg_illu_200px_RGB_S.png);
    }

    .joerg .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_Joerg/PNG_600px/vi_icon_joerg_port1_600px_RGB_L.png);
    }

    /* CHRIS */

    .chris .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_christoph/PNG_200px/vi_icon_christoph_prof_200px_RGB_M.png);
    }

    .chris .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_christoph/PNG_600px/vi_icon_christoph_port2_600px_RGB_L.png);
    }

    .chris .normal {
      background-image: url(./../../dist/images/team/vi_icon_christoph/PNG_200px/vi_icon_christoph_illu_200px_RGB_M.png);
    }

    .chris .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_christoph/PNG_600px/vi_icon_christoph_port1_600px_RGB_L.png);
    }

    /* ALEX */

    .alex .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_alex/PNG_200px/vi_icon_alex_prof_200px_RGB_M.png);
    }

    .alex .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_alex/PNG_600px/vi_icon_alex_port2_600px_RGB_L.png);
    }

    .alex .normal {
      background-image: url(./../../dist/images/team/vi_icon_alex/PNG_200px/vi_icon_alex_illu_200px_RGB_M.png);
    }

    .alex .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_alex/PNG_600px/vi_icon_alex_port1_600px_RGB_L.png);
    }


    /* STEVE */

    .steve .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_Steve/PNG_200px/vi_icon_steve_prof_200px_RGB_M.png);
    }

    .steve .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_Steve/PNG_600px/vi_icon_steve_port2_600px_RGB_L.png);
    }

    .steve .normal {
      background-image: url(./../../dist/images/team/vi_icon_Steve/PNG_200px/vi_icon_steve_illu_200px_RGB_S.png);
    }

    .steve .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_Steve/PNG_600px/vi_icon_steve_port1_600px_RGB_L.png);
    }


    /* WICKY */

    .wicky .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_Wicky/PNG_200px/vi_icon_wicky_prof_200px_RGB_M.png);
    }

    .wicky .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_Wicky/PNG_600px/vi_icon_wicky_port2_600px_RGB_L.png);
    }

    .wicky .normal {
      background-image: url(./../../dist/images/team/vi_icon_Wicky/PNG_200px/vi_icon_wicky_illu_200px_RGB_M.png);
    }

    .wicky .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_Wicky/PNG_600px/vi_icon_wicky_port1_600px_RGB_L.png);
    }

    /* TILMAN */

    .tilman .wheel-item-image .hover {
      background-image: url(./../../dist/images/team/vi_icon_Tilman/PNG_200px/vi_icon_tilman_prof_200px_RGB_M.png);
    }

    .tilman .active-hover {
      background-image: url(./../../dist/images/team/vi_icon_Tilman/PNG_600px/vi_icon_tilman_port2_600px_RGB_L.png);
    }

    .tilman .normal {
      background-image: url(./../../dist/images/team/vi_icon_Tilman/PNG_200px/vi_icon_tilman_illu_200px_RGB_M.png);
    }

    .tilman .active-normal {
      background-image: url(./../../dist/images/team/vi_icon_Tilman/PNG_600px/vi_icon_tilman_port1_600px_RGB_L.png);
    }

  }
}

