@media screen and (min-width: 320px) {

  section.news, section.events {

    max-width: 665px;
    margin-left: auto;
    margin-right: auto;

    ul {
      padding-left: 0;
    }

    h5 {
      margin-bottom: 3px;
      font-family: AzoSansLight;
      font-size: 12px;
    }

    .panel {
      border: none;
    }

    .panel-body {
      p {
        font-family: AzoSansLight;
        color: #fff;
      }
    }

    .news__link-title {
      display: block;
      margin: 10px 0;
      text-decoration: underline;
      font-family: AzoSansRegular;
      font-size: 14px;
      color: #fff200;
    }

  }

}

@media screen and (min-width: 768px) {

  section.news, section.events {

    h5 {
      font-size: 17px;
    }

    .news__link-title {
      font-family: AzoSansLight;
      font-size: 24px;
    }

    .panel-body {
      p {
        font-size: 15px;
      }
    }

  }

}