@media screen and (min-width: 768px) {

  section.publishers {

    .intro {
      margin-top: 0;
    }

    .publishers-veel {
      width: 500px;
      height: 550px;
      position: relative;
      margin: auto;
    }

    .publishers-veel .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      margin: -60px 0 0 -150px;
      height: 150px;
      cursor: pointer;
    }

    h2 {
      position: relative;
      margin-top: -50px;
      margin-bottom: 20px;
      text-shadow: 0 0 3px black;
      z-index: 100;
    }

    h3 {
      font-size: 2.1rem;
      margin: 10px 0;
      font-family: AzoSansMedium;
      text-align: center;
    }

    #customize {
      background-image: url(./../../dist/images/vi_icon_vi_player_RGB_M.svg);
    }

    #intelligent {
      background-image: url(./../../dist/images/vi_icon_front_guy_beard_RGB_M.svg);
    }

    #cpm {
      background-image: url(./../../dist/images/vi_icon_socmed_offices_RGB_M.svg);
    }

    .publishers-veel .wheel-item-image {
      width: 120px;
      height: 120px;
      margin: auto;
      background: center center/100% 100% no-repeat;
    }

    .publishers-veel .active.circle {
      width: 300px;
      height: 300px;
      margin: -150px 0 0 -150px;
      cursor: default;
    }

    .publishers-veel .active .wheel-item-image {
      width: 300px;
      height: 300px;
    }

    .publishers-veel .animate {
      transition: all 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }

    .publishers-veel .wheel-item-text {
      max-height: 65px;
      overflow: hidden;
    }

    .publishers-veel .active.circle  .wheel-item-text{
      max-height: 300px;
    }

    .publishers-veel .wheel-item-text .description {
      text-align: left;
      font-family: AzoSansLight;
      font-size: 1.6rem;
      position: relative;
      transform: none;
      opacity: 0;
    }

    .publishers-veel .active.circle .description {
      opacity: 1;
    }


  }

}