$navbar-default-bg: transparent;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff200;
$navbar-default-link-active-color: #fff200;
$navbar-default-link-active-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
$nav-link-padding: 10px 0 10px 40px;
$jumbotron-bg: transparent;
$jumbotron-heading-color: #fff200;
$jumbotron-font-size: 28px;
$jumbotron-heading-font-size: 61px;
$jumbotron-font-size: 14px;
$jumbotron-color: #fff;
$thumbnail-bg: transparent;
$thumbnail-border: transparent;
$thumbnail-caption-color: #fff;
// $container-large-desktop: 970px;